$background: #e2e2e2ff;
$width: calc(100% - 40px);
$max-width: 900px;
$gap: 10px;
$color: #4f729cff;

:root {
  background-color: $background;

  font: {
    family: "Open Sans", sans-serif, arial;
    size: 17px;
  }
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  height: 100vh;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $max-width;
  margin: 0 auto;
}

.card {
  margin: 0 auto;
  width: $width;
  max-width: 1200px;
  height: content;
  background-color: darken($color, 10);
  padding-top: 80px;
  border-radius: 4px;

  &,
  &__inner {
    position: relative;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: $gap;
    background-color: white;
    padding: $gap;
  }

  &__item {
    border: 1px solid darken(white, 40);
    min-height: 20px;
    padding-top: 149%;
  }
}